.widgetNews{
    position: relative;
    top: 25px;
    width: 90%;
    background-color: white;
    /* height: 50vh; */
    border-radius: 15px;
    padding: 10px 10px;
    line-height: 30px;
    border: 1px solid rgb(227, 220, 220);

}
#linkedin-news{
    font-size: 1.5rem;
    font-weight: 700;
}