.header{
    /* width:100%; */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(227, 224, 224);
    /* border-right: 1px solid grey; */
    /* flex-wrap: wrap; */
    z-index: 999999;
    background-color: white;
}
.headerLeft-main{
    width: 15%;
    min-width: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
.headerRight-main{
    width: 35%;
    /* border-right: 1px solid grey; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgb(227, 224, 224);
    flex-wrap: wrap;
}
.headerEnd-main{
    width: 20%;
    /* border:1px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width :450px) {
    .header{
        display: none;
    }
}