.sidebarBottom {
    position: relative;
    top: 30px;
    /* height: 20vh; */
    border: 1px solid rgb(227, 220, 220);
    width: 82%;
    border-radius: 10px;
    background-color: white;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.sidebarBottom-container {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 100%;
    font-size: 0.75rem;
}

.sidebarBottom-links {
    /* border: 1px solid green; */
    position: relative;
    left: -15px;
    color: blue;
    font-weight: 600;
    line-height: 20px;
}

.sidebarBottom-links:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebarBottom-container-add-button {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    /* height: 20px; */
    cursor: pointer;
    color: gray;
}

.sidebarBottom-down-container {
    color: grey;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(240, 240, 240);
}

.sidebarBottom-down-container:hover {
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}