* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  background-color: rgb(255, 250, 234);
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  /* padding: 0px 200px; */
  /* flex-wrap: wrap; */
}
